#title {
  margin-top: 220px;
}

ion-title {
  padding: 50px;
  color: black;
}

ion-card {
  width: 75%;
}

ion-label {
  padding: 5px;
  color: black;
}

ion-item {
  color: black;
}

#button {
  margin: 10px;
}

#footer {
  margin-top: 150px;
}
