#header {
  margin-top: 220px;
}

.firstColor {
  background-color: #279156;
}

.secondColor {
  background-color: #156535;
}

.thirdColor {
  background-color: #61ce8b;
}

.fourthColor {
  background-color: #279156;
}

.greyColor {
  background-color: #f5f5f5;
}

.logo {
  padding: 20px;
}
