<ion-header>
  <ion-toolbar>
    <ion-title>landing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header"></div>
  <ion-grid>
    <div class="firstColor">
      <ion-row>
        <ion-col> </ion-col>
        <ion-col>
          <ion-card class="firstColor">
            <ion-img id="logo" src="assets/img/logowhite.jpg"> </ion-img>
          </ion-card>
        </ion-col>

        <ion-col> </ion-col>
      </ion-row>
    </div>
    <div class="greyColor">
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-img src="assets/img/money-box.jpg"> </ion-img>
          </ion-card>
        </ion-col>
        <ion-col> </ion-col>

        <ion-col>
          <ion-card>
            <ion-img src="assets/img/womanworker.jpg"> </ion-img>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
    <div class="secondColor">
      <ion-row>
        <ion-col> </ion-col>
        <ion-col>
          <ion-card>
            <ion-img src="assets/img/2workerscartoon.jpg"> </ion-img>
          </ion-card>
        </ion-col>

        <ion-col> </ion-col>
      </ion-row>
    </div>
    <div class="greyColor">
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-img src="assets/img/paintblue.jpeg"> </ion-img>
          </ion-card>
        </ion-col>
        <ion-col> </ion-col>

        <ion-col>
          <ion-card>
            <ion-img src="assets/img/happy.jpg"> </ion-img>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>

    <div class="thirdColor">
      <ion-row>
        <ion-col> </ion-col>
        <ion-col>
          <ion-card>
            <ion-img src="assets/img/tree.png"> </ion-img>
          </ion-card>
        </ion-col>

        <ion-col> </ion-col>
      </ion-row>
    </div>
    <div class="greyColor">
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-img src="assets/img/plumber.jpg"> </ion-img>
          </ion-card>
        </ion-col>
        <ion-col> </ion-col>

        <ion-col>
          <ion-card>
            <ion-img src="assets/img/carpenter1.jpg"> </ion-img>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
    <div class="fourthColor">
      <ion-row>
        <ion-col> </ion-col>
        <ion-col>
          <ion-card>
            <ion-img src="assets/img/toonplumber.jpg"> </ion-img>
          </ion-card>
        </ion-col>

        <ion-col> </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
