<ion-header>
  <ion-toolbar>
    <ion-title>Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #slides pager="true">
    <ion-slide>
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-title>Gallery</ion-title>
          </ion-row>
          <ion-row>
            <ion-title>See Davey Hard at Work</ion-title>
          </ion-row>

          <ion-row><br /></ion-row>
          <ion-row><br /></ion-row>
          <ion-row>
            <ion-col>
              <ion-img src="assets/gallery/carpenter1.jpg"></ion-img>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-button
              color="success"
              type="submit"
              class="btnPrev"
              (click)="prev()"
              >Prev</ion-button
            >
            <ion-button
              type="submit"
              color="success"
              class="btnNext"
              (click)="next()"
              >Next</ion-button
            >
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-title>Precision is Key!</ion-title>
          </ion-row>

          <ion-row><br /></ion-row>
          <ion-row><br /></ion-row>
          <ion-row>
            <ion-col> <img src="assets/gallery/carpenter2.jpg" /> </ion-col>
          </ion-row>
          <ion-row>
            <ion-button
              type="submit"
              color="success"
              class="btnPrev"
              (click)="prev()"
              >Prev</ion-button
            >
            <ion-button
              type="submit"
              color="success"
              class="btnNext"
              (click)="next()"
              >Next</ion-button
            >
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-grid>
          <ion-row><br /></ion-row>
          <ion-row><br /></ion-row>
          <ion-row>
            <ion-col> <img src="assets/gallery/electrician2.jpeg" /> </ion-col>
          </ion-row>
          <ion-row>
            <ion-button
              type="submit"
              color="success"
              class="btnPrev"
              (click)="prev()"
              >Prev</ion-button
            >
            <ion-button
              type="submit"
              color="success"
              class="btnNext"
              (click)="next()"
              >Next</ion-button
            >
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col> <img src="assets/gallery/gardener1.jpg" /> </ion-col>
          </ion-row>

          <ion-row>
            <ion-button
              type="submit"
              color="success"
              class="btnPrev"
              (click)="prev()"
              >Prev</ion-button
            >
            <ion-button
              type="submit"
              color="success"
              class="btnNext"
              (click)="next()"
              >Next</ion-button
            >
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-grid>
          <ion-row><br /></ion-row>
          <ion-row><br /></ion-row>
          <ion-row>
            <ion-col> <img src="assets/gallery/plumber1.jpg" /> </ion-col>
          </ion-row>

          <ion-row>
            <ion-button
              type="submit"
              color="success"
              class="btnPrev"
              (click)="prev()"
              >Prev</ion-button
            >
            <ion-button
              type="submit"
              color="success"
              class="btnNext"
              (click)="next()"
              >Next</ion-button
            >
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-grid>
          <ion-row><br /></ion-row>
          <ion-row><br /></ion-row>
          <ion-row>
            <ion-col> <img src="assets/gallery/plumber2.jpg" /> </ion-col>
          </ion-row>

          <ion-row>
            <ion-button
              type="submit"
              color="success"
              class="btnPrev"
              (click)="prev()"
              >Prev</ion-button
            >
            <ion-button
              type="submit"
              color="success"
              class="btnNext"
              (click)="next()"
              >Next</ion-button
            >
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col> <img src="assets/gallery/plumber3.jpg" /> </ion-col>
          </ion-row>

          <ion-row>
            <ion-button
              type="submit"
              color="success"
              class="btnPrev"
              (click)="prev()"
              >Prev</ion-button
            >
            <ion-button
              type="submit"
              color="success"
              class="btnNext"
              (click)="next()"
              >Next</ion-button
            >
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col> <img src="assets/gallery/cutgrass1.jfif" /> </ion-col>
          </ion-row>

          <ion-row>
            <ion-button
              type="submit"
              color="success"
              class="btnPrev"
              (click)="prev()"
              >Prev</ion-button
            >
            <ion-button
              type="submit"
              color="success"
              class="btnNext"
              (click)="next()"
              >Next</ion-button
            >
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <div id="footer">
    <ion-grid>
      <ion-row>
        <ion-col id="footerTitles">
          Find Out More
        </ion-col>
        <ion-col id="footerTitles">
          Policies
        </ion-col>
        <ion-col id="footerTitles">
          Connect
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button (click)="openFaq()" id="btnWhite">FAQ</button>
        </ion-col>
        <ion-col>
          <button (click)="openTerms()" id="btnWhite">Terms of Service</button>
        </ion-col>
        <ion-col>
          <button class="social-signin facebook">Connect with Facebook</button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button (click)="openJob()" id="btnWhite">Post a Job</button>
        </ion-col>
        <ion-col>
          <button id="btnWhite">Privacy Policy</button>
        </ion-col>
        <ion-col>
          <button class="social-signin twitter">Connect with Twitter</button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button (click)="openContactUs()" id="btnWhite">Contact Us</button>
        </ion-col>
        <ion-col>
          <button id="btnWhite">Our Promise</button>
        </ion-col>
        <ion-col>
          <button class="social-signin google">Connect with Google+</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
