<ion-header>
  <ion-toolbar color="primary">
    <ion-title>See Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img id="profile" src="../../../assets/gallery/profilePicture.jpeg" />
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>Information</ion-card-header>

          <ion-item>
            <ion-label>Name: {{"NAME HERE"}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label>Rating: </ion-label>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-label>City: {{"City HERE"}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label>Address: {{"Address HERE"}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Postal Code: {{"Postal Code HERE"}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Skills (if any)</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Primary Skill: {{"Primary HERE"}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Secondary Skill: {{"Secondary HERE"}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Tertiary Skill: {{"Tertiary HERE"}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Experience: {{"Experience HERE"}}</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
