ion-card {
  padding: 20px;
}

#header {
  margin-top: 250px;
}

ion-button {
  margin-left: 20px;
}

ion-card-title {
  margin-bottom: 10px;
}

ion-title {
  padding: 15px;
}

#footer {
  margin-top: 75px;
}

.capitalize {
  text-transform: capitalize;
}

#signupCard {
  margin-top: 160px;
  border-style: inset;
}
