#title {
  padding-top: 100px;
  padding-bottom: 30px;
}

ion-title {
  padding: 10px;
}

ion-label {
  padding: 10px;
}

ion-slides {
  height: 70%;
}

ion-button {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
