ion-title {
  margin-top: 220px;
  padding-bottom: 30px;
}

#seekerLogin {
  margin-bottom: 250px;
}

#button {
  padding: 5px;
  margin-left: 10px;
  margin-top: 15px;
}

ion-grid {
  margin-top: 150px;
}

ion-card {
  width: 85%;
  padding: 20px;
}

.error {
  color: red;
}
