ion-input {
  border: solid 1px black;
}

#sameAsBilling {
  padding: 5px;
}

.selectBlack {
  border: solid 1px black;
}

#paymentForm {
  margin-bottom: 150px;
}

ion-header {
  margin-top: 210px;
}

#selectProvider {
  width: 300px;
}

#title {
  margin-top: 100px;
  padding-left: 20px;
  padding-bottom: 20px;
}
