#button {
  padding: 5px;
  margin-left: 10px;
}

ion-title {
  color: black;
}

ion-input {
  color: black;
}

#main {
  margin-top: 220px;
}
ion-title {
  padding-top: 20px;
  padding-bottom: 30px;
}

#button {
  padding: 5px;
  margin-left: 10px;
}

ion-card {
  width: 75% !important;
  padding: 50px;
}

#footer {
  margin-top: 150px;
}
