#icons {
  padding: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

ion-img {
  height: 400px;
  width: 400px;
}

ion-card {
  padding: 20px;
  margin-bottom: 50px;
}

.newUser {
  width: 200px;
}

.newUserTitle {
  font-size: 80%;
}

.newUserButton {
  margin-left: 250px;

  margin-top: 20px;
  margin-bottom: 20px;
}

ion-header {
  margin-top: 220px;
}

#footer {
  margin-top: 150px;
}

ion-title {
  padding-top: 5x;
  padding-bottom: 5px;
}

ion-button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
