<ion-header>
  <ion-toolbar>
    <ion-title id="title">Testimonials</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Became a member June 2020</ion-card-subtitle>
      <ion-card-title>Sarah Barclay</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-text
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Egestas sed tempus
        urna et pharetra pharetra massa. Augue eget arcu dictum varius duis at
        consectetur lorem. Vehicula ipsum a arcu cursus vitae congue mauris
        rhoncus aenean. Eu mi bibendum neque egestas congue quisque. Cras ornare
        arcu dui vivamus arcu felis bibendum. Fames ac turpis egestas sed tempus
        urna et pharetra pharetra. A erat nam at lectus urna. Sem fringilla ut
        morbi tincidunt augue interdum velit. Lorem mollis aliquam ut porttitor.
        Mi ipsum faucibus vitae aliquet nec .</ion-text
      >
      <ion-button fill="outline" slot="end">View</ion-button>
      <img id="testimonial" src="../../../assets/gallery/testimonial1.jpg" />
    </ion-item>
    <ion-card-content> </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>June 10th 2020</ion-card-subtitle>
      <ion-card-title>Mary Shelly</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>
        Wow just wow! What a great Service! 10/10 would recommend. My provider
        was extremely helpful <br />
        and he gave me a great quote. Since my husband passed away 9ine to 5ive
        has been my go to.
      </ion-label>
      <ion-button fill="outline" slot="end">Go To Profile</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>May 8th 2020</ion-card-subtitle>
      <ion-card-title>Jose Gonzalez</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>
        I got laid off back when oil crashed in 2015 and have since retired, but
        this gig lets me stay busy, meet people and make a little extra money.
      </ion-label>
      <ion-button fill="outline" slot="end">Go To Profile</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>June 1st 2020</ion-card-subtitle>
      <ion-card-title>Andrew Ripperger</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>
        My wife often needs help and I work out of town. We started kitchen
        renos but I can't finish them and 9ine to 5ive has stepped in!
      </ion-label>
      <ion-button fill="outline" slot="end">Go To Profile</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Became a member May 2020</ion-card-subtitle>
      <ion-card-title>Noelle Cameron</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-text
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Egestas sed tempus
        urna et pharetra pharetra massa. Augue eget arcu dictum varius duis at
        consectetur lorem. Vehicula ipsum a arcu cursus vitae congue mauris
        rhoncus aenean. Eu mi bibendum neque egestas congue quisque. Cras ornare
        arcu dui vivamus arcu felis bibendum. Fames ac turpis egestas sed tempus
        urna et pharetra pharetra. A erat nam at lectus urna. Sem fringilla ut
        morbi tincidunt augue interdum velit. Lorem mollis aliquam ut porttitor.
        Mi ipsum faucibus vitae aliquet nec .</ion-text
      >
      <ion-button fill="outline" slot="end">View</ion-button>
      <img id="testimonial" src="../../../assets/gallery/testimonial2.jpg" />
    </ion-item>
    <ion-card-content> </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Became a member July 2020</ion-card-subtitle>
      <ion-card-title>Bob Hideman</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-text
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Egestas sed tempus
        urna et pharetra pharetra massa. Augue eget arcu dictum varius duis at
        consectetur lorem. Vehicula ipsum a arcu cursus vitae congue mauris
        rhoncus aenean. Eu mi bibendum neque egestas congue quisque. Cras ornare
        arcu dui vivamus arcu felis bibendum. Fames ac turpis egestas sed tempus
        urna et pharetra pharetra. A erat nam at lectus urna. Sem fringilla ut
        morbi tincidunt augue interdum velit. Lorem mollis aliquam ut porttitor.
        Mi ipsum faucibus vitae aliquet nec .</ion-text
      >
      <ion-button fill="outline" slot="end">View</ion-button>
      <img id="testimonial" src="../../../assets/gallery/testimonial3.jpg" />
    </ion-item>
    <ion-card-content> </ion-card-content>
  </ion-card>

  <div id="footer">
    <ion-grid>
      <ion-row>
        <ion-col id="footerTitles">
          Find Out More
        </ion-col>
        <ion-col id="footerTitles">
          Policies
        </ion-col>
        <ion-col id="footerTitles">
          Connect
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button (click)="openFaq()" id="btnWhite">FAQ</button>
        </ion-col>
        <ion-col>
          <button (click)="openTerms()" id="btnWhite">Terms of Service</button>
        </ion-col>
        <ion-col>
          <button class="social-signin facebook">Connect with Facebook</button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button (click)="openJob()" id="btnWhite">Post a Job</button>
        </ion-col>
        <ion-col>
          <button id="btnWhite">Privacy Policy</button>
        </ion-col>
        <ion-col>
          <button class="social-signin twitter">Connect with Twitter</button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button (click)="openContactUs()" id="btnWhite">Contact Us</button>
        </ion-col>
        <ion-col>
          <button id="btnWhite">Our Promise</button>
        </ion-col>
        <ion-col>
          <button class="social-signin google">Connect with Google+</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
