#topCard {
  margin-top: 70px;
}

ion-card {
  padding: 3px;
  margin-bottom: 5px;
}

ion-card-content {
  padding: 10px;
}

ion-card-subtitle {
  padding: 3px;
}

#button {
  margin-left: 10px;
}

ion-header {
  margin-top: 220px;
}
